<div class="content-wrapper">
  <section class="content-header">
    <ol class="breadcrumb">
      <li><a routerLink="/home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Eintrag extrahieren</li>
    </ol>
  </section>
  <section class="content" style="margin-top: 10px;">
    <div class="invoice">
      <div class="message-block">
        <span>(Alle) Einträge eines Clearinghauses extrahieren</span>
      </div>
      <div *ngIf="searchmode">
        <form class="form-horizontal">
          <div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Cooperation-BIC</label>
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="search.bic" class="form-control" name="searchBic">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" style="margin-top: 30px;"><strong>Optional</strong></label>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Instrument</label>
              <div class="col-sm-4">
                <div class="btn-group dropdown-style">
                  <button type="button" class="btn btn-default">{{search.bankOperation}}</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a *ngFor="let operation of search.bankOperations" (click)="changeSearchBankOperation(operation)">{{operation.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Service</label>
              <div class="col-sm-4">
                <div class="btn-group dropdown-style">
                  <button type="button" class="btn btn-default">{{search.service}}</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a *ngFor="let service of search.services" (click)="changeSearchService(service)">{{service.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="extractmode">
        <form class="form-horizontal">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 control-label" style="text-align: left;">Cooperation-BIC</label>
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="search.bic" class="form-control" disabled name="searchBic">
              </div>
            </div>
          </div>
        </form>
        <table class="table table-responsive table-striped table-bordered borderless">
          <thead style="background-color: #367fa9; color: white;">
            <tr>
              <th class="bordered">Bankname</th>
              <th class="bordered">Instrument</th>
              <th class="bordered">Service</th>
              <th class="bordered">Verechnungs-BIC</th>
              <th class="bordered">Gueltig ab</th>
              <th class="bordered">Gueltig bis</th>
              <th class="bordered">BIC des Clearinghauses</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of searchResult | routingEntryFilter:filter; let i = index" class="">
              <td>{{entry.bankname}}</td>
              <td>{{entry.bankOperation}}</td>
              <td>{{entry.service}}</td>
              <td>{{entry.cooperationBic.value}}</td>
              <td>{{entry.validFrom | date: dateFormat}}</td>
              <td>{{entry.validTo | date: dateFormat}}</td>
              <td>{{entry.counterPartyBic.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <div class="col-sm-12" *ngIf="searchmode">
          <button type="submit" class="btn btn-primary col-sm-3" (click)="searchInstitut()">Verbundene Einträge suchen</button>
          <button type="submit" class="btn btn-primary col-sm-3 col-sm-offset-6" (click)="clearChanges()">Änderungen verwerfen</button>
        </div>
        <div class="col-sm-12" *ngIf="extractmode">
          <button type="submit" class="btn btn-primary col-sm-3" (click)="exportEntry()">Liste exportieren</button>
          <button type="submit" class="btn btn-primary col-sm-2 col-sm-offset-2" (click)="returnToSearchInstitut()">Zurück</button>
          <button type="submit" routerLink="/home" class="btn btn-primary col-sm-3 col-sm-offset-2">Beenden</button>
        </div>
      </div>
    </div>
  </section>
</div>
