<header class="main-header">

  <!-- Logo -->
  <a routerLink="/home" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">DLT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg" style="font-size: 14px;">DTL Routing Table</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <a href="https://www.oenb.at/" target="_blank"><img src="assets/img/oenb.png"></a>
    <a href="https://www.bundesbank.de/" target="_blank"><img src="assets/img/bbk.png"></a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

      </ul>
    </div>
  </nav>
</header>
