<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar"> 

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <!-- Optionally, you can add icons to the links -->
      <li><a routerLink="/newentry"><i class="fa fa-plus"></i> <span>Neuer Eintrag</span></a></li>
      <li><a routerLink="/editentry"><i class="fa fa-pencil"></i> <span>Eintrag ändern</span></a></li>
      <li><a routerLink="/deleteentry"><i class="fa fa-trash"></i> <span>Eintrag löschen</span></a></li>
      <li><a routerLink="/extractentry"><i class="fa fa-download"></i> <span>Eintrag extrahieren</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
